@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz@0,14..32;1,14..32&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-size: 4.875rem;
  font-style: normal;
}
/* Global Style */
.display {
  display: flex;
}
.bg1 {
  background-color: #1d1d1d;
}
/* Text-color */
.primary-color {
  color: #e6533c;
}
.secondary-color {
  color: rgba(255, 255, 255, 0.518);
}
.Common-color {
  color: white;
}
/* Button */
.b1{
  background-color: #e6533c;
}
/* fonts-weight */
.font-weight1 {
  font-weight: 600;
  font-size: 1.125rem;
}
.font-weight2 {
  font-weight: 400;
}
.font-weight3 {
  font-weight: 900;
}


/* Fonts */
.font1 {
  font-size: 1rem;
}
.font2 {
  font-size: 0.875rem;
}
.font3 {
  font-size: 1.125rem;
}
.font4{
  font-size: 4.875rem;
}
.font5{
  font-size: 0.8125rem;
}
.font6{
  font-size: 2.5rem;
}
.font7{
  font-size:1.5rem;
}


/* Nav-ber related style */
.brand-name {
  font-size: 1.875rem;
  font-weight: 800;
}
.nav-ber {
  margin: 0 auto;
  justify-content: space-around;
}
.nav-links {
  margin-right: 25px;
}
.nav-item {
  width: 100px;
  height: 30px;
  background-color: #e6533c;
  border-radius: 16px;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.nav-border {
  width: 350px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(62, 60, 60);
  border-radius: 20px;
  margin: auto 0;
}
/* Hero-section */
.hero-section{
  justify-content: space-evenly;
  margin:0 auto;

}
.heading{
  flex-direction: column;
  margin-left: 25px;
}

h1{
  margin: 0px;
  padding: 0px;
}

.buttons{
  margin-top: 10px;
}

.btn1{
  width:200px;
  height:40px;
 margin-right: 10px;
 border-radius: 25px;
 border:none;
 
}

.btn2{
  width:200px;
  height:40px;
 margin-right: 10px;
 border-radius: 25px;
 border: 2px solid rgb(64, 61, 61);
 
}

.head{
  margin: 0 auto;
}

.image-part-1{
  background-color: aqua;
}
.div1{
  width: 200px;
  height:80px;
  padding-left: 10px;
  background-color:#393939;
  border-radius: 10px;
}
.para1{
  margin-bottom: 20px;
}